<!--
	我的设置
	by-youjie
-->
	<div class="height"></div>
	<div class="mui-content">
    <div class="mui-card martop">
    	<ul class="mui-table-view">
        	<!--<li class="mui-table-view-cell bgnone fontcolor2" ng-click="goPerson()">	
            	<img src="images/icon_13.png" width="22" align="absmiddle" /> 充值
                <span class="mui-navigate-right"></span>
            </li>
            <li class="mui-table-view-cell bgnone fontcolor2" ng-click="goLogin()" ui-sref="login">	
            	<img src="images/icon_14.png" width="19" align="absmiddle" /> 虫子
                <span class="mui-navigate-right "></span>
            </li>
            <li class="mui-table-view-cell bgnone fontcolor2">	
            	<img src="images/icon_15.png" width="19" align="absmiddle" /> 检查版本
                <span class="mui-navigate-right "></span>
            </li>-->
        </ul>
    </div>
</div>
<div class="height"></div>	
<div class="height"></div>	