<!--
	youjie
	首页面
	2015-6-19
-->
<style type="text/css">
	#slider img {
		height: 140px;
	}
	.thirdright {
		width: 30%;
		margin-left: -15px;
		float: right;
	}
	.mui-backdrop {
				position:fixed;
				z-index:998;
				top:0;
				right:0;
				bottom:180px;
				left:0;
				background-color:rgba(0,0,0,.3)
			}
		.center{
				display: -webkit-box; /* OLD: Safari, iOS 6 and earlier; Android browser, older WebKit */
				display: -moz-box; /* OLD: Firefox (can be buggy) */
				display: -ms-flexbox; /* OLD: IE 10 */
				display: -webkit-flex; /* FINAL, PREFIXED, Chrome 21+ */
				display: flex; /* FINAL: Opera 12.1+, Firefox 22+ */
				-webkit-box-align: center;
				-moz-box-align: center;
				-ms-flex-align: center;
				-webkit-align-items: center;
				align-items: center;
			 	-webkit-box-pack: center;
				-moz-box-pack: center;
				-ms-flex-pack: center;
				-webkit-justify-content: center;
				justify-content: center;
			}
</style>
<!--头部导航文字-->
<div class="mui-content">
	<div id="slider" class="mui-slider">
		<div class="mui-slider-group mui-slider-loop">
			<!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
			<div class="mui-slider-item mui-slider-item-duplicate">
				<a href="#">
					<img ng-src="{{banner1}}">
				</a>
			</div>
			<div class="mui-slider-item">
				<a href="#">
					<img ng-src="{{banner1}}">
				</a>
			</div>
			<div class="mui-slider-item">
				<a href="#">
					<img ng-src="{{banner2}}">
				</a>
			</div>
			<div class="mui-slider-item">
				<a href="#">
					<img ng-src="{{banner3}}">
				</a>
			</div>
			<!--<div class="mui-slider-item">
				<a href="#">
					<img ng-src="{{banner4}}">
				</a>
			</div>-->
			<!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
			<div class="mui-slider-item mui-slider-item-duplicate">
				<a href="#">
					<img ng-src="{{banner1}}">
				</a>
			</div>
		</div>
		<div class="mui-slider-indicator">
			<div class="mui-indicator mui-active"></div>
			<div class="mui-indicator"></div>
			<div class="mui-indicator"></div>
			<!--<div class="mui-indicator"></div>-->
		</div>
	</div>
	<div>
		<ul>
			<li style="margin-top: -8px;">
				<img src="img/greytab.png" style="height: 10px;width: 100%;" />
			</li>
			<li class="lifirst" style="background-image:img/new@2x.png ;color: #666;">
				最新揭晓<img src="" />
				<a class="" style="padding-bottom: 5px;float: right;" ng-click="methoddemo()">
					<img ng-click="goodsMore()" src="img/more-icon@2x.png" style="height:14px ;width: 14px;" />
				</a>
			</li>
			<li ng-click="godetailsone()" id="lisecond" class="lisecond imgtop" style="list-style-type: none;text-align:center;font-size: 12px;">
				<img ng-src="{{home.imageLeft}}" style="border: 1px solid #f0f0f0;padding: 10px;" />
				<div class="p-info">
					<span class="p-name" id="">{{home.goodsNameLeft}}</span>
				</div>
			</li>
			<li ng-click="godetailstwo()" id="lisecond" class="lisecond2 imgtop" style="list-style-type: none;text-align:center;font-size: 12px;">
				<img ng-src="{{home.imageMid}}" style="border: 1px solid #f0f0f0;padding: 10px;" />
				<div class="p-info">
					<span class="p-name" id="">{{home.goodsNameMid}}</span>
				</div>
			</li>
			<li ng-click="godetailsthr()" id="lisecond" class="lisecond3 imgtop" style="list-style-type: none;text-align:center;font-size: 12px;">
				<img ng-src="{{home.imageRight}}" style="border: 1px solid #f0f0f0;padding: 10px;" />
				<div class="p-info">
					<span class="p-name" id="">{{home.goodsNameRight}}</span>
				</div>
			</li>
		</ul>
		<ul>
			<li id="lisecond" class="lisecond " style="list-style-type: none;text-align:center;font-size: 12px;height: 20px;">
				<div class="p-info">
					<span class="p-name">
						<!--ng-hide="timeIcon1"-->
	                        	<img  src="img/time@2x.png" style="height: 12px;width: 12px;margin-left: -5px;"/>
	                            <span class="p-price" id="showtimeLeft"></span>
					</span>
				</div>
			</li>
			<li id="lisecond" class="lisecond2 " style="list-style-type: none;text-align:center;font-size: 12px;height: 20px;">
				<div class="p-info">
					<span class="p-name">
						<!--ng-hide="timeIcon2"-->
	                        	<img  src="img/time@2x.png" style="height: 12px;width: 12px;margin-left: -5px;"/>
	                            <span class="p-price" id="showtimeMid"></span>
					</span>
				</div>
			</li>
			<li id="lisecond" class="lisecond3 " style="list-style-type: none;text-align:center;font-size: 12px;height: 20px;">
				<div class="p-info">
					<span class="p-name">
						<!--ng-hide="timeIcon3"-->
	                        	<img  src="img/time@2x.png" style="height: 12px;width: 12px;margin-left: -5px;"/>
	                            <span class="p-price" id="showtimeRight"></span>
					</span>
				</div>
			</li>
			<li style="list-style-type: none;">
				<img src="img/greytab.png" style="height: 8px;width: 100%;" />
			</li>
		</ul>
	</div>
	<div>
		<div style="width: 100%;height: 36px; white-space: nowrap;margin-top: -8px;background-color: white;text-align: center;" ng-style="tabBarThr">
			<div style="padding: -10px;" ng-style="borderRes">
				<a href="javascript:;" ng-style="borderRe" style="margin-top:8px;width: 33%;height: 28px;display: block;float: left;text-align: center;color: #000000;" ng-click="changePakage(1)"><span>最热</span></a>
			</div>
			<div style="padding: -10px;">
				<a href="javascript:;" ng-style="borderXin" style="margin-top:8px;width: 33%;height: 28px;display: block;float: left;text-align: center;color:  #000000;" ng-click="changePakage(2)"><span>最新</span></a>
			</div>
			<div style="padding: -10px;">
				<a href="javascript:;" ng-style="borderKuai" style="margin-top:8px;width: 33%;height: 28px;display: block;float: right;text-align: center;color:  #000000;" ng-click="changePakage(3)"><span>最快</span></a>
			</div>
		</div>
		<!--<div infinite-scroll='demo.nextPage()' infinite-scroll-disabled='demo.busy' infinite-scroll-distance='1'>-->
		<ul ng-show="zuire"  class="mui-table-view mui-table-view-chevron">
			<div id="">
			<li  id="lithird" class="lithird2N1 " style="list-style-type: none; font-size: 12px;background-color:white ;margin-top: 0px;" ng-repeat="homezuire in homezuires" when-scrolled="loadMore()">
				<img ng-click="goodsDetailsHot($index)" ng-src="{{homezuire.goodsIcon}}" style="margin-top: 0px;" />
				<div class="thirdfont">
					<span class="p-name">{{homezuire.listMessage}}</span>
					<div style="color: #666;margin-top: 5px;">
						总需:&nbsp;
						<span class="p-name">
	                        		{{homezuire.listNumAll}}
	                        	</span>&nbsp;份</div>
					<div class="thirdleft" style="color: #666;">
						<div class="loading">
							<div id="progress" ng-style="progress">
							</div>
						</div>
						<!--<div id="demo1" class="mui-demo-container" style="padding: 5px;width:80%;margin-left:-5px;">
							<p class="mui-progressbar mui-progressbar-danger" data-progress="'+((list[a].totalStock-list[a].usableStock)/list[a].totalStock)+'"><span></span></p>
						</div>-->
						<span>
				           		{{homezuire.listNumMore}}
				        </span>参与剩余
						<span>{{homezuire.listNumOver}}</span>份
					</div>
					<div class="thirdright">
						<input ng-click="shoppingHot($index)" ng-style="hotbuy" type="button" value="购买" class="size-btn" style="text-align:center; line-height:20px; height:22px;width: 48px; margin:0px; padding:0px;  border:1px solid #D43047;color: #D43047;background-color:white ;font-weight: bold;">
					</div>
				</div>
			</li>
			</div>
		</ul>
		<ul ng-show="zuixin"  class="mui-table-view mui-table-view-chevron"  >
			<div id="">
			<li  id="lithird" class="lithird2N1 " style="list-style-type: none; font-size: 12px;background-color:white ;margin-top: 0px;" ng-repeat="homezuixin in homezuixins" when-scrolled="loadMore()">
				<img ng-click="goodsDetailsNew($index)" ng-src="{{homezuixin.goodsIcon}}" style="margin-top: 0px;" />
				<div class="thirdfont">
					<span class="p-name">{{homezuixin.listMessage}}</span>
					<div style="color: #666;margin-top: 5px;">
						总需:&nbsp;
						<span class="p-name">
	                        		{{homezuixin.listNumAll}}
	                        	</span>&nbsp;份</div>
					<div class="thirdleft" style="color: #666;">
						<div class="loading">
							<div id="progress" ng-style="progress">
							</div>
						</div>
						<!--<div id="demo2" class="mui-demo-container" style="padding: 5px;width:80%;margin-left:-5px;">
							<p class="mui-progressbar mui-progressbar-danger" data-progress="'+((list[a].totalStock-list[a].usableStock)/list[a].totalStock)+'"><span></span></p>
						</div>-->
						<span>
				           		{{homezuixin.listNumMore}}
				                </span>参与剩余
						<span>{{homezuixin.listNumOver}}</span>份
					</div>
					<div class="thirdright">
						<input ng-click="shoppingNew($index)" ng-style="newbuy" type="button" value="购买" class="size-btn" style="text-align:center; line-height:20px; height:22px;width: 48px; margin:0px; padding:0px; border:1px solid #D43047;color: #D43047;background-color:white ;font-weight: bold;">
					</div>
				</div>
			</li>
			</div>
		</ul>
		<ul ng-show="zuikuai" class="mui-table-view mui-table-view-chevron"  >
			<div id="">
			<li  id="lithird" class="lithird2N1 " style="list-style-type: none; font-size: 12px;background-color:white ;margin-top: 0px;" ng-repeat="homezuikuai in homezuikuais" when-scrolled="loadMore()">
				<img ng-click="goodsDetailsFast($index)" ng-src="{{homezuikuai.goodsIcon}}" style="margin-top: 0px;" />
				<div class="thirdfont">
					<span class="p-name">{{homezuikuai.listMessage}}</span>
					<div style="color: #666;margin-top: 5px;">
						总需:&nbsp;
						<span class="p-name">
	                        		{{homezuikuai.listNumAll}}
	                        	</span>&nbsp;份</div>
					<div class="thirdleft" style="color: #666;margin-top: 3px">
						<div class="loading" >
							<div id="progress" ng-style="progress">
							</div>
						</div>
						<!--<div id="demo3" class="mui-demo-container" style="padding: 5px;width:80%;margin-left:-5px;">
							<p class="mui-progressbar mui-progressbar-danger" data-progress="'+((list[a].totalStock-list[a].usableStock)/list[a].totalStock)+'"><span></span></p>
						</div>-->
						<span>
				           		{{homezuikuai.listNumMore}}
				                </span>参与剩余
						<span>{{homezuikuai.listNumOver}}</span>份
					</div>
					<div class="thirdright">
						<input ng-click="shoppingFast($index)" ng-style="fastbuy" type="button" value="购买" class="size-btn" style="text-align:center; line-height:20px; height:22px;width: 48px; margin:0px; padding:0px; border:1px solid #D43047;color: #D43047;background-color:white ;font-weight: bold;">
					</div>
				</div>
			</li>
			</div>
		</ul>
		<li style="list-style-type: none; width: 20px;height: 100%;">
		    <div style="" ng-show='reddit.busy'>查看更多</div>
	    </li>
	</div>
	<div >
		<ul>
			<li >
				<img src="img/greytab.png" style="height: 20px;width: 100%;margin-bottom: -10px;" />
			</li>
		</ul>
	</div>
	
	<footer ng-if="shoppingView" class="mui-bar-footer mui-bar-tab" style="height: 180px;width: 100%;">
	<ul style="width: 100%;height: 150px ;list-style-type:none;">
		<li style="width: 100%;height: 35px;border-bottom: 1px solid #999;border-top: 1px solid #999;">
			<!--<span style="font-size: 14px;float: left;margin-left: 20%;margin-top: 10px;width: 50%;">小米体重计 家用健康...</span>-->
			<span class="center" style="font-size: 16px;float: left;margin-left: 30%;margin-top: 10px;width: 50%;">请选择参与人次</span>
			<input ng-click="closeShop()" type="button" value="取消 X" class="size-btn" style="float: right;margin-right: 10px;margin-top: 7px;text-align:center; line-height:20px; height:20px;width: 15%;padding:0px;  border:1px solid #D43047;color: #D43047;background-color:white ;font-weight: bold;">
		</li>
		<li style="widows: 100%;height: 75px;list-style-type:none;">
			<div class="mui-numbox" data-numbox-min='1' data-numbox-max='9' style="color: #000000; width: 80%;height: 30px;margin-left: 10%;margin-top: 10px;border: 1px solid #D43047;">
				<button ng-click="subtract()" style="display: block;border-right: 1px solid #D43047;" class="mui-btn mui-btn-numbox-minus" type="button">-</button>
				<input ng-model="goodsNumber" style="color: #000000;" id="test" class="mui-input-numbox" type="text" disabled="disabled" />
				<button ng-click="add()" style="display: block;border-left: 1px solid #D43047;"  class="mui-btn mui-btn-numbox-plus" type="button">+</button>
			</div>
			<div  style="width: 80%;height: 25px;margin-left: 12%;margin-top: 10px;">
				<a style="display: block;white-space:nowrap;">
					<input ng-click="addten()" type="button" value="10" class="size-btn" style="text-align:center; line-height:26px; height:26px;width: 22%; margin:0px; padding:0px; border:1px solid #D43047;color: #D43047;background-color:white;font-weight: bold;">
					<input ng-click="addfifty()" type="button" value="50" class="size-btn" style="text-align:center; line-height:26px; height:26px;width: 22%; margin:0px; padding:0px; border:1px solid #D43047;color: #D43047;background-color:white;font-weight: bold;">
					<input ng-click="addhd()" type="button" value="100" class="size-btn" style="text-align:center; line-height:26px; height:26px;width: 22%; margin:0px; padding:0px; border:1px solid #D43047;color: #D43047;background-color:white;font-weight: bold;">
					<input ng-click="adddl()" type="button" value="1000" class="size-btn" style="text-align:center; line-height:26px; height:26px;width: 22%; margin:0px; padding:0px; border:1px solid #D43047;color: #D43047;background-color:white;font-weight: bold;">
				</a>
			</div>
			<div id="">
				<span class="center" style="font-size: 14px;margin-top: 10px;">需要花费{{goodsNumber}}夺宝币</span>
			</div>
			<div >
				<input ng-click="shopping()" type="button" value="确定" class="size-btn" style="display: block; margin-left: 10%;margin-top: 5px;text-align:center; line-height:30px; height:30px;width: 80%;padding:0px; border:0px;color: white;background-color:#D43047 ;font-weight: bold;">
			</div>
		</li>
	</ul>
	</footer>
</div>
