.mui-plus.mui-android header.mui-bar{
	display: none;
}
.mui-plus.mui-android .mui-bar-nav~.mui-content{
	padding: 0;
}
.mui-content .premium{
	padding:10px;
	background:#35CA80;
	font-size:0.8em;
}
.premium p{
	color:#fff;
}
*{
	margin:0;
	padding:0;
}
body{
	font-family:"微软雅黑";
}
.mui-content .searchbtn{
	float:right ;
	width:32px;
	height:30px;
	border-radius:5px;
	background:#CCCCCC url(../img/search@2x.png) no-repeat center;
	background-size:50%;
	border:none;
	color:#fff;
	background-size:22px;
}
.mui-content .coverrage{
	width:30px;
	height:25px;
	line-height:25px;
	padding:0;
	border:1px solid #ccc;
	color:#06B06C;
}
.mui-content .text{
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	-webkit-text-overflow:ellipsis;
}
.mui-content .bg{
	background:#fff;
}
.mui-content .left{
	float:left;
}
.mui-content .right{
	float:right;
}
.mui-content .loginmargin{
	padding:3% 0 3% 3%;
}
.mui-content .padtop{
	padding-top:5px;
}
.mui-content .padleft{
	padding-left:5px;
}
.mui-content .padbot{
	padding-bottom:2%;
}
.mui-content .width{
	width:60px;
	display:inline-block;
}
.mui-content .width2{
	display:inline-block;
	width:120px;
}
.mui-content .width3{
	display:inline-block;
	width:105px;
}
.mui-content .width4{
	display:inline-block;
	width:95px;
}
.mui-content .width5{
	display:inline-block;
	width:75px;
}
.mui-content .width6{
	display:inline-block;
	width:65%;
	text-align:left;
}
.mui-content .width7{
	width:80%;
	margin:0 auto;
}
.mui-content .width8{
	width:95%;
	margin:0 auto;
}
.mui-content .width9{
	width:10%;
	margin:0 auto;
}
.mui-content .width10{
	width:90%;
	margin:0 auto;
}
.mui-content i{
	font-style:normal;
}
.mui-content .clear{
	clear:both;
}
.mui-content .position{
	position:relative;
}
.mui-content .position2{
	position:absolute;
	top:15px;
}
.mui-content .position111{
	position:relative;
	top:2px;
}
.mui-content .position222{
	position:relative;
	top:5px;
}
.mui-content .position4{
	position:absolute;
	top:15px;
	left:100px;
}
.mui-content .position5{
	position:absolute;
	top:7px;
	right:15px;
}
.mui-content .position6{
	position:absolute;
	left:35px;
	top:8px;
}
.mui-content .position7{
	position:absolute;
	left:10px;
	top:8px;
}
.mui-content .position3{
	position:absolute;
	top:10px;
}
.mui-content .position10{
	position:absolute;
	top:7px;
	right:10px;
}
.mui-content .bgnone{
	background:none;
}
.mui-content .padnone{
	padding:0;
}
.height{
	height:45px;
}
.height2{
	height:25px;
}
.mui-content .align{
	text-align:center;
}
.mui-content .fontleft{
	text-align:left;
}
.mui-content .padright{
	display:inlin-block;
	padding-right:10x;
}
.mui-content .margin{
	margin:0;
}
.mui-content .padding{
	padding-top:0;
}
.mui-content .padright2{
	padding-right:15px;
}
.mui-content .carpadding{
	padding:11px 0;
	padding-left:15px;
}
.mui-content .position11{
	position:absolute;
	left:120px;
}
.logo{
	width:60%;
	margin:0 auto;
	margin-top:3em;
}
.logo img{
	width:100%;
}
.mui-content .box{
	background:#fff;
	width:93%;
	margin:0 auto;
	border:1px solid #C0C0C0;
	border-radius:5px;
}
.boxinput{
	padding:0 2%;
}
.mui-content .hr{
	border-top:1px solid #C0C0C0;
}
.mui-content .logininput{
	width:70%;
	padding:0;
	margin:0;
	border:none;
}
.mui-content .box2{
	width:93%;
	margin:0 auto;
}
.mui-content .martop{
	margin-top:10px;
}
.relationbox{
	width:100%;
}
.opacity{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background:#000;
	opacity:0.3;
	z-index:999;
}
.relationcont{
	width:100%;
	height:100%;
	position:absolute;
	top:35px;
	left:0;
	z-index:9999;
}
.mui-bar a{
	color:#fff;
}
.mui-content .listbg{
	background:#2BD588;
	color:#156A44;
}
.mui-content .relationinput{
	height:30px;
	kine-height:30px;
	width:70%;
	border:none;
	background:none;
	padding:0;
	margin:0;
}
.mui-table-view-cell2{
	position:relative;
	overflow:hidden;
	padding:11px 15px;
	background-color:inherit;
	-webkit-touch-callout:none
}
.mui-table-view-cell2:after{
	position:absolute;
	right:0;bottom:0;
	left:15px;
	height:1px;
	content:'';
	-webkit-transform:scaleY(.5);
	transform:scaleY(.5);
}
.mui-content .bgcolor{
	color:#06B06C;
	background:#fff;
}
.mui-content .fontcolor{
	color:#353535;
}
.mui-content .fontcolor2{
	color:#047246;
}
.mui-content .fontcolor3{
	color:#CF2D28;
}
.mui-content .fontcolor4{
	color:#7F7F7F;
}
.mui-content .color{
	display:inline-block;
	color:#06B06C;
}
.mui-content .bgbtn{
	background:none;
	border:1px solid #C9C9C9;
	color:#CF2D28;
}
.mui-content .relationinput2,.mui-content .perfecttextarea{
	height:30px;
	width:50%;
	border:none;
	background:none;
	padding:0;
	margin:0;
}
.mui-content .perfecttextarea{
	line-hegiht:0;
}
.mui-content .fontsize2{
	font-size:0.9em;
}
.mui-content .fontsize3{
	font-size:1.2em;
}
.mui-content .fontsize4{
	font-size:0.7em;
}
 .mui-content .searchbox{
	padding:0.4em 1.2em;
	background:#D43047;
}
.mui-content .searchwidth{
	width:85%;
	margin-left: 30px;
	background:#fff;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.mui-content .searchinput{
	width:80%;
	border:none;
	background:none;
	padding-left:10px;
}
.mui-content .fontsize{
	display:inline-block;
	font-size:1.2em;
	color:#fff;
}
.mui-content .size{
	font-size:1.2em;
}
.mui-content .text{
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
}
.borderradius{
	margin:0 15px;
	border-radius:6px;
}
.mui-table-view-divider2{
	font-weight:500;
	margin-top:0;
	margin-left:0;
	padding-top:0;
	padding-bottom:0;
	padding-left:0;
	color:#999;
	background-color:#fafafa;
}
.mui-content .table{
	padding-left:0;
}
.table th{
	width:33.3%;
	color:#343434;
	padding:10px 0;
	border-bottom:1px solid #c8c7cc;
	text-align:center;
}
.table td{
	color:#343434;
	padding-top:4px;
	text-align:left;
	padding:10px;
	border-bottom:1px solid #c8c7cc;
}
.table td.bordernone{
	border:none;
}
.table td.bordercolor{
	border-color:#2BD588;
}
.mui-content .bornone{
	border:none;
}
@media only screen  and (min-width:375px) and (max-width: 414px){
	.mui-content .position6{
		position:absolute;
		left:42px;
		top:8px;
	}
	.mui-content .position7{
		position:absolute;
		left:25px;
		top:8px;
	}
}
.mui-content .responsinput{
	width:90px;
	color:#06B06C;
	height:25px !important;
	border:1px solid #c8c7cc;
	border-radius:3px;
	background:none;
	padding:0 !important;
}
.mui-content .responsiselect{
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	text-align:center;
	height:25px;
	background:url(../images/down.png) no-repeat 97% center;
	background-size:13px;
	border:1px solid #c8c7cc !important;
	border-radius:3px;
	padding:0 15px 0 0 !important;
}
.mui-content .width0{
	width:50%;
}
.mui-content .addequibtn{
	color:#fff;
	border:1px solid #2BD588;
	background:#2BD588;
}
.mui-content .pad2{
	line-height:15px;
	padding:25px 0 0 40px;
}
.mui-content .marleft{
	margin-left:85px;
}
.mui-content .marright{
	margin-right:15px;
}

.mui-content .position8{
	position:absolute;
	left:30px;
	top:3px;
}
.mui-content .marbotom{
	margin-bottom:5px;
}
.mui-content .radius{
	border-radius:100px;
	border:1px solid #06B06C;
	color:#06B06C;
	padding:3px 10px;
	margin-right:10px;
}
.localp{
	padding:5px 0 5px 15px;
	background:#F0F0F0;
	margin-bottom:0;
	font-size:0.65em;
}
.mui-input-row a{
	text-decoration:underline;
	color:#06B06C;
}
.mui-content .labelnone{
	padding:0;
	line-height:0;
}
.mui-content .othertitle{
	padding:8px 0 0 15px;
}
.mui-table-view-divider3{
	font-weight:500;
	position:relative;
	margin-top:-1px;
	margin-left:0;
	padding-top:6px;
	padding-bottom:6px;
	padding-left:15px;
	color:#999;
	background-color:#fafafa;
}
.mui-content .offercont{
	position:absolute;
	right:0;
	width:170px;
	text-align:left;
}
.mui-table-view-divider3:before{
	position:absolute;
	top:0;
	right:0;
	left:0;
	height:1px;
	content:'';
	-webkit-transform:scaleY(.5);
	transform:scaleY(.5);
	background-color:none;
}
.mui-table-view-divider3:after{
	position:absolute;
	right:0;
	bottom:0;
	left:0;
	height:1px;
	content:'';
	-webkit-transform:scaleY(.5);
	transform:scaleY(.5);
	background-color:none;
}
.mui-bar-footer{
	position:fixed;
	bottom:0;
	background:#F8F8F8;
	z-index:999;
}
.mui-content .bottombor{
	border-bottom:1px solid #c8c7cc;
}
.mui-content .borderbox td{
	padding:0 15px;
}
.mui-content .borderbox td.tablepad{
	padding-top:10px;
}
.mui-content .borderbox td.tablepadbot{
	padding-bottom:10px;
}
.mui-content .borderbox td.padnone{
	padding-right: 15px;
	padding:0;
}
.mui-content .padright{
	padding-right:10px;
}
.mui-content .positiontop{
	position:relative;
	top:-8px;
}





















